@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}

<!--=================================
 inner-intro-->

<section class="inner-intro bg-2 bg-opacity-black-70"></section>

<!--=================================
 inner-intro-->
<!--=================================
 About-->

<section class="about page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section-title-1 text-center">
                    <h1 class="text-blue">About us</h1>
                    <div class="title-line"></div>
                    <p>Who we are and what we do</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="custom-content">
                    <h3 class="text-blue">How we deliver</h3>
                    <p class="mt-30">
                        Massive Chips is the world’s most loved tech support brand, providing support to consumers & small businesses.
                    </p>
                    <p class="mt-30">
                        With a growing global footprint, Massive Chips services are available in the United States, the United Kingdom, Canada, Australia, UAE the GCC, India and Singapore. Leveraging its proprietary Digital Service Cloud software technology platform, Massive Chips delivers support to millions of customers globally and its services are available on a 24/7 basis, 365 days a year.
                    </p>

                    <h3 class="text-blue">How It Works</h3>
                    <b>Company Profile </b>
                    <p class="mt-30">
                        Massive Chips is a leading provider of online technical support services to consumers and small businesses across a wide range of computing and communications devices and software. Leveraging its proprietary Digital Service Cloud software technology platform, Massive Chips delivers support services to millions of customers globally and its services are available on a 24/7 basis, 365 days a year. Massive Chips recently launched on-ground support services as well, which are currently available across continental USA. With a growing global footprint, Massive Chips services are available in the United States, the United Kingdom, Canada, Australia, UAE the GCC, India and Singapore.
                        High Levels of Customer Satisfaction
                    </p>
                    <p class="mt-30">
                        Massive Chips offers incident based services for tech support. Customers can choose from various channels to contact Massive Chips including web-based support, real-time phone, chat, and e-mail or on-ground technicians. It offers a comprehensive suite of service offerings, including diagnosis and repair, installation and maintenance services for multiple devices, software applications and other products, including PCs, digital cameras, MP3 players, printers, etc. Massive Chips also provides support for a range of Apple devices. The customer satisfaction scores of Massive Chips are amongst the highest in the technical support industry.
                    </p>
                    <b>One-stop-shop</b>
                    <p class="mt-30">
                        The wide range of service offerings by Massive Chips is brand-agnostic, which makes it a “one stop shop” for many customers’ technology support needs. Customers can rely on Massive Chips to address many of their technical support needs and avoid the complexities of working with multiple support providers associated with each individual device or software application they purchase.
                        Unmatched Platform-as-a-Service
                    </p>
                    <p class="mt-30">
                        Massive Chips’s proprietary technology platform, called Digital Service Cloud gets smarter with every customer interaction. It documents every problem, solution, and relevant hardware and software specs while capturing each customer’s demographic information, and creates a behavioral profile. All this information is available at the fingertips of Massive Chips Tech Experts, combining a powerful knowledge base with a comprehensive set of tools and technology expertise that can be accessed on demand to deliver quality tech support any time of the day and any time of the year.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="js-video [youtube, widescreen]">
                    <iframe src="https://www.youtube.com/embed/nrJtHemSPW4?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
 About-->

<hr class="mr" />

<!--=================================
Our Testimonial -->

<section class="testimonial pattern-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section-title-1 text-center">
                    <h1 class="text-blue">Testimonial</h1>
                    <div class="title-line"></div>
                    <p>What Our Happy Clients say about us</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="owl-carousel-4">
                    <div class="item">
                        <div class="testimonial text-center">
                            <div class="testimonial-avatar">
                                <img src="~/Assets/images/team/01.jpg" alt="">
                            </div>
                            <div class="testimonial-info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit. Vero quod conseqt quibusdam, enim expedit sed quia nesciunt incidunt accusamus necessitati modi adipisci officia libero Lorem ipsum dolor sit amet, consectetur</p>
                                <strong>Harrold Oliver Cooper <span>CEO, The Corps</span></strong>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center">
                            <div class="testimonial-avatar">
                                <img src="~/Assets/images/team/02.jpg" alt="">
                            </div>
                            <div class="testimonial-info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit. Vero quod conseqt quibusdam, enim expedit sed quia nesciunt incidunt accusamus necessitati modi adipisci officia libero Lorem ipsum dolor sit amet, consectetur</p>
                                <strong>Harrold Oliver Cooper <span>CEO, The Corps</span></strong>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center">
                            <div class="testimonial-avatar">
                                <img src="~/Assets/images/team/03.jpg" alt="">
                            </div>
                            <div class="testimonial-info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit. Vero quod conseqt quibusdam, enim expedit sed quia nesciunt incidunt accusamus necessitati modi adipisci officia libero Lorem ipsum dolor sit amet, consectetur</p>
                                <strong>Harrold Oliver Cooper <span>CEO, The Corps</span></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
Our Testimonial -->
<!--=================================
 action-box -->

<section class="action-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <h3 class="text-white">The Corps Unique & Clean HTML5 Multi-Purpose Template</h3>
                <p class="text-white">We are a creative company, who works with passion and love. We provide the best services you need. </p>
            </div>
            <div class="col-lg-4 col-md-4 text-right action-box-button">
                <a href="#" class="button button-white mt-15">
                    <span>More Demo</span>
                    <i class="fa fa-hand-o-right"></i>
                </a>
                <a href="#" class="button button-black mt-15">
                    <span>Purchase Now</span>
                    <i class="fa fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<!--=================================
 action-box -->
