@{
    ViewBag.Title = "Emtala";
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}

<body>
    <!--header start-->
    <!--header end-->
    <!-- Sequence Modern Slider -->
    <div >

        <div >
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                       <iframe src="//www.slideshare.net/slideshow/embed_code/key/wUTCx3ghcxYZKk" width="2000" height="600" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                    </div>
                </div>
            </div>
        </div>


    </div>


    @*<div class="container">
        <div class="row mar-b-50">
            <div class="col-md-12">
                <div class="text-center feature-head wow fadeInDown">
                    <h1 class="">
                        welcome to TalaCall
                    </h1>

                </div>

            
            </div>
        </div>
    </div>*@


    <!--property start-->
    
    <!--property end-->
    <!--recent work start-->
    

    <script src="~/assets/js/jquery-1.8.3.min.js"></script>

</body>



