@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}
<body>
    <!--header start-->
    <!--header end-->
    <!-- Sequence Modern Slider -->
    <div id="da-slider" class="da-slider">

        <div class="da-slide">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            <i>Primary Health Care Solution</i>
                        </h2>
                        <p>
                            <i>For Hospitals</i>
                            <br />
                            <i>& Health Care Units</i>
                        </p>

                        <div class="da-img">
                            @*<img src="~/assets/img/parallax-slider/images/2.png" alt="image01" />*@
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="da-slide">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            <i>Solution to Manage</i>
                            <br />
                            <i>Physicians</i>
                        </h2>
                        <p>
                            <i>On Call Operations</i>
                            <br />
                        </p>

                        <div class="da-img">
                            @*<img src="~/Assets/img/parallax-slider/images/3.png" alt="image01" />*@
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="da-slide">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            <i>Managing & Tracking </i>
                            </br>
                            <i>Physician's</i>
                        </h2>
                        <p>
                            <i>Emergency Schedule</i>
                            <br />
                            <i> </i>
                        </p>

                        <div class="da-img">
                          @*  <img src="~/assets/img/parallax-slider/images/1.png" alt="image01" />*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="da-arrows">
            <span class="da-arrows-prev">
            </span>
            <span class="da-arrows-next">
            </span>
        </nav>
    </div>


    <div class="container">
        <div class="row mar-b-50">
            <div class="col-md-12">
                <div class="text-center feature-head wow fadeInDown">
                    <h1 class="">
                        welcome to TalaCall
                    </h1>

                </div>

                <!--feature end-->
            </div>
        </div>
    </div>


    <!--property start-->
    <div class="property gray-bg" id="aboutUs">
        <div class="container">
            <h1 style="text-align:center">
                About Us
                </br>
            </h1>
            <div class="row">
                <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
                    <img src="~/assets/img/tab1.png" alt="">
                </div>
                <div class="col-lg-6 col-sm-6 wow fadeInRight">

                    <p>
                        <i class="fa fa-check fa-lg pr-10">
                        </i>
                        TalaCall is a hospital administration tool for health care professionals.
                    </p>
                    <p>
                        <i class="fa fa-check fa-lg pr-10">
                        </i>
                        TalaCall can manage Physicain's On Call Operations.
                    </p>
                    <p>
                        <i class="fa fa-check fa-lg pr-10">
                        </i>
                        Administrators can schedule physician on call timing and can manage and track their active calls.
                    </p>
                    <hr>
                    <a href="#contactus" class="btn btn-purchase">
                        Contact Us
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--property end-->

    <!--recent work start-->
    <div class="bg-lg" id="contactus">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 recent">
                    <h3 class="recent-work">
                        Contact Us
                    </h3>
                    <p> Drop us a line so that we can hear from you</p>


                    <div class="row">
                        <div class="col-lg-5 col-sm-5 address">
                            <section class="contact-infos">
                                <h4 class="title custom-font text-black">
                                    ADDRESS
                                </h4>
                                <address>
                                    Mechanicsburg,
                                    <br>
                                    PA, USA
                                    <br>
                                </address>
                            </section>
                            <section class="contact-infos">
                                <h4 class="title custom-font text-black">
                                    BUSINESS HOURS
                                </h4>
                                <address>
                                    Monday - Sunday 24*7
                                    <br>
                                    <br>
                                    &nbsp;
                                    <br>
                                </address>
                            </section>
                            <section class="contact-infos">
                                <h4>
                                    TELEPHONE
                                </h4>
                                <address>
                                    <i class="icon-phone">
                                    </i>
                                    +000-00000000
                                </address>


                            </section>
                        </div>
                        <div class="col-lg-7 col-sm-7 address">
                            @*<h4>
                                    Drop us a line so that we can hear from you
                                </h4>*@
                            <div class="contact-form" id="form">

                                <div class="form-group">
                                    <label for="name">
                                        Name
                                    </label>
                                    <input type="text" placeholder="Name*" id="nametxt" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Email
                                    </label>
                                    <input type="text" placeholder="Email*" id="emailtxt" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="phone">
                                        Phone
                                    </label>
                                    <input type="text" placeholder="Mobile*" id="Mobiletxt" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="phone">
                                        Message
                                    </label>
                                    <textarea placeholder="Message*" id="commentstxt" rows="3" class="form-control"></textarea>
                                </div>
                                
                                    <div class="Error alert-Message alert-danger display-hide margin-bottom-10 margin-top-10">
                                        <button class="close topx" data-close="alert">x</button>
                                        <span id="spnErrorMessage" class="spnErrorMessage"></span>
                                    </div>
                                    <div class="Success alert-Message alert-success display-hide margin-top-10 margin-bottom-10">
                                        <button class="close" data-close="alert">x</button>
                                        <span id="spnSuccessMessage" class="spnSuccessMessage"></span>
                                    </div>
                                

                          <button id="submit" class="btn btn-info">
                                    <span>Submit </span>

                                </button>

                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>


        <!--recent work end-->
    </div>

    <script src="~/assets/js/jquery-1.8.3.min.js"></script>

</body>

<script type="text/javascript">
    $(document).ready(function () {

        $("#submit").click(function () {
           
            var hasError = false;
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            var emailaddressVal = $("#emailtxt").val();
            var phoneVal = $("#Mobiletxt").val();
            var name = $('#nametxt').val();
            var Message = $("#commentstxt").val()
            $('.Error').removeClass('display').addClass('display-hide')
            $('.Success').removeClass('display').addClass('display-hide')
           
             if (name == "") {
                $('.Error').removeClass('display-hide').addClass('display')
                $('.spnErrorMessage').html('<strong>Error:</strong>Please enter your name.')
                hasError = true;
                $('#submit').show();
            }
            else if (hasError == false && emailaddressVal == '') {
                $('.Error').removeClass('display-hide').addClass('display')
                $('.spnErrorMessage').html('<strong>Error:</strong>Please enter your email.')
                hasError = true;
                $('#submit').show();
            }
            else if (hasError == false && !emailReg.test(emailaddressVal)) {
                $('.Error').removeClass('display-hide').addClass('display')
                $('.spnErrorMessage').html('<strong>Error:</strong>Please enter a valid email id.')
                 hasError = true;
                $('#submit').show();
            }
            else if (hasError == false && phoneVal == '') {
                $('.Error').removeClass('display-hide').addClass('display')
                $('.spnErrorMessage').html('<strong>Error:</strong>Please enter your phone number.')
                 hasError = true;
                $('#submit').show();
            }
            else if (hasError == false && (phoneVal.length > 13 || phoneVal.length < 8 || phoneVal.indexOf('123456789') > -1 || isNaN(phoneVal))) {
                $('.Error').removeClass('display-hide').addClass('display')
                $('.spnErrorMessage').html('<strong>Error:</strong>Please enter a valid phone number.')
                hasError = true;
                $('#submit').show();
            }
            else if (Message == "") {
                $('.Error').removeClass('display-hide').addClass('display')
                $('.spnErrorMessage').html('<strong>Error:</strong>Please enter your Message.')
                hasError = true;
                $('#submit').show();
            }
            if (hasError == false) {
                $('#submit').hide();
                var url = "/Home/ContactUs";
                $.post(url, { Name: name, Email: emailaddressVal, phone: phoneVal, Message: Message, }, function (data) {

                    if ((data.Status) == "Success") {
                        $('.Error').removeClass('display').addClass('display-hide')
                        $('.Success').removeClass('display-hide').addClass('display')
                        $('.spnSuccessMessage').html('<strong>Successful:</strong> ' + data.Message)
                        $(':input', '#form').not(':button, :submit, :reset, :hidden').val('').removeAttr('checked').removeAttr('selected');
                        $('#submit').show();
                    }
                    else if ((data.Status) == "Failure") {
                        $('.Success').removeClass('display').addClass('display-hide')
                        $('.Error').removeClass('display-hide').addClass('display')
                        $('.spnErrorMessage').html('<strong>Error:</strong> ' + data.Message)
                        $('#submit').show();
                    }
                });
            }
        });
    });

</script>